<!DOCTYPE html>
<html>
<head>
<title>长安风采</title>
<script src="${rc.contextPath}/statics/My97DatePicker/WdatePicker.js"></script>
#parse("sys/header.html")
</head>
<body>
<div id="rrapp" v-cloak>
	<div v-show="showList"> 
	
	<form class="form-inline" role="form">
	<div class="form-group">
		<input type="text" class="form-control" id="title" v-model="q.title" style="width: 180px;" placeholder="风采图片标题">
	</div>
	<div class="form-group">
		<input type="text" class="form-control"  id="author"  v-model="q.author" style="width: 180px;" placeholder="作者">
	</div>
	<button type="button" class="btn btn-default"  @click="query">查询刷新</button>
</form></br>

		<div class="grid-btn">
			#if($shiro.hasPermission("cahgstyle:save"))
			<a class="btn btn-primary" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</a>
			#end
			#if($shiro.hasPermission("cahgstyle:update"))
			<a class="btn btn-primary" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</a>
			#end
			#if($shiro.hasPermission("cahgstyle:delete"))
			<a class="btn btn-primary" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
			#end
			<!-- #if($shiro.hasPermission("cahgstyle:stick"))
			<a class="btn btn-success" @click="stick">&nbsp;置顶</a>
			#end -->
			#if($shiro.hasPermission("cahgstyle:show"))
				<a class="btn btn-primary" @click="show">&nbsp;显示</a>
			#end
			#if($shiro.hasPermission("cahgstyle:unshow"))
				<a class="btn btn-primary" @click="unshow">&nbsp;隐藏</a>
			#end
		</div>
	    <table id="jqGrid"></table>
	    <div id="jqGridPager"></div>
    </div>
    
    <div v-show="!showList" class="panel panel-default">
		<div class="panel-heading">{{title}}</div>
		<form class="form-horizontal">
			<div class="form-group">
			   	<div class="col-sm-2 control-label"><font color="red">*</font>风采标题</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="cahgStyle.styleTitle" id="styleTitle" placeholder="风采图片标题"/>
			    </div>
			</div>
			
			<div class="form-group">
			   	<div class="col-sm-2 control-label"><font color="red">*</font>风采图片</div>
		    	<div class="col-sm-10">
		    		<input type="file" style="float: left;" id="styleUrl"  name="styleUrl"  accept="image/jpg,image/jpeg,image/png,image/gif" multiple="" > 
		   	   		<input type="button" class="btn btn-default" @click="upStyle" value="上传">
		   	        <code v-show="tips" style="margin-top:4px;display: block;">图片已上传</code>
		    	    <img style="display: none" alt="" id="showStyle" class="style-responsive" src="">
		            <input style="display: none" type="text" class="form-control" id="styleUrlName" placeholder=""/>
		            </br>
		            <span><font color="red">备注：请按7:6比例上传图片</font></span>
		    	</div>
			</div>
			
			<div class="form-group" >
			   	<div class="col-sm-2 control-label"><font color="red">*</font>图片分类</div>
                <div class="col-sm-10">
				     <select id="styleCategory"  class="form-control" v-model="cahgStyle.styleCategory">
				         	<option value="1" >活动剪影</option>
		              		<option value="2">摄影作品</option>
		              		
				     </select>
		      	</div> 
			</div> 
			
			<div class="form-group" >
			   	<div class="col-sm-2 control-label">发布科室</div>
                <div class="col-sm-10">
				     <select id="deptId"  class="form-control">
				         <option  :value="cahgStyle.deptId" id="selectedDept">{{cahgStyle.deptName}}</option>
				         <option v-for="item in deptList" :value="item.deptId "  >
				         	 {{item.name }}
				         </option>
				     </select>
		      	</div> 
			</div> 
			
			<div class="form-group">
			   	<div class="col-sm-2 control-label">发布作者</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="cahgStyle.author" placeholder="作者"/>
			    </div>
			</div>
			<div class="form-group">
			   	<div class="col-sm-2 control-label">状态</div>
			   	<!-- <div class="col-sm-10">
			      <input type="text" class="form-control" v-model="cahgStyle.styleStatus" placeholder="状态：0:显示 1:禁用"/>
			    </div> -->
			    <label class="radio-inline">
				  <input type="radio" name="status" value="0" v-model="cahgStyle.styleStatus"/> 显示
				</label>
				<label class="radio-inline">
				  <input type="radio" name="status" value="1" v-model="cahgStyle.styleStatus"/> 隐藏
				</label>
			</div>
			
			<div class="form-group">
				<div class="col-sm-2 control-label"></div> 
				<input type="button" class="btn btn-primary" @click="saveOrUpdate" value="确定"/>
				&nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
			</div>
		</form>
	</div>
</div>

<script src="${rc.contextPath}/js/news/cahgstyle.js?_${date.systemTime}"></script>

</body>
</html>