<!DOCTYPE html>
<html>
<head>
<title></title>
#parse("sys/header.html")
</head>
<body>
<div id="rrapp" v-cloak>
	<div v-show="showList">
		<div class="grid-btn">
		<!-- 	#if($shiro.hasPermission("cahgletterflow:save"))
			<a class="btn btn-primary" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</a>
			#end
			#if($shiro.hasPermission("cahgletterflow:update"))
			<a class="btn btn-primary" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</a>
			#end -->
			#if($shiro.hasPermission("cahgletterflow:delete"))
			<a class="btn btn-primary" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
			#end
			<a class="btn btn-success" @click="hadDeal">&nbsp;已处理</a>
		</div>
	    <table id="jqGrid"></table>
	    <div id="jqGridPager"></div>
    </div>
    
    <div v-show="!showList" class="panel panel-default">
		<div class="panel-heading">信封详细</div>
		
		
		<form class="form-horizontal">
									<div class="form-group">
			   	<div class="col-sm-2 control-label">部门</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="cahgLetter.deptName" />
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">姓名</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="cahgLetter.author" />
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">职务</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="cahgLetter.dutyName"/>
			    </div>
			</div>
				<div class="form-group">
			   	<div class="col-sm-2 control-label">标题</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="cahgLetter.title"/>
			    </div>
			</div>
			
		<div class="form-group">
			   	<div class="col-sm-2 control-label">内容</div>
			</div> 
			
		</form>
		 <div id="content" class="center-block" style="width:75%;">
					<!-- 	{{cahgLetter.content}}$("#id").html(val) 写在VUE 里面 不能直接渲染 -->
   				</div>
   					<div class="form-group">
				<div class="col-sm-2 control-label"></div> 
				&nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
			</div>
	</div>
</div>

<script src="${rc.contextPath}/js/oa/cahgletterflow.js?_${date.systemTime}"></script>
</body>
</html>