<!DOCTYPE html>
<html>
<head>
<title></title>
#parse("sys/header.html")
</head>
<body>
<div id="rrapp" v-cloak>
	<div v-show="showList">
		<form class="form-inline" role="form">
			<div class="form-group">
				<input type="text" class="form-control" id="title" v-model="q.title" style="width: 180px;" placeholder="新闻标题">
			</div>
			<button type="button" class="btn btn-default" @click="query">查询刷新</button>
		</form>
		</br>
	
		<div class="grid-btn">
			#if($shiro.hasPermission("cahgactivitynotice:save"))
			<a class="btn btn-primary" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</a>
			#end
			#if($shiro.hasPermission("cahgactivitynotice:update"))
			<a class="btn btn-primary" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</a>
			#end
			#if($shiro.hasPermission("cahgactivitynotice:delete"))
			<a class="btn btn-danger" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
			#end
			<a class="btn btn-warning"  @click="delFile"><i class="fa fa-trash-o"></i>&nbsp;删除附件</a>
		</div>
	    <table id="jqGrid"></table>
	    <div id="jqGridPager"></div>
    </div>
    
    <div v-show="!showList" class="panel panel-default">
		<div class="panel-heading">{{title}}</div>
		<form class="form-horizontal" style="width:70%">
			<div class="form-group">
			   	<div class="col-sm-2 control-label"><font color="red">*</font>活动标题</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" id="noticeTitle" v-model="info.title"/>
			    </div>
			</div>
			<div class="form-group">
			   	<div class="col-sm-2 control-label">活动目标</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" id="content" v-model="info.content"/>
			    </div>
			</div>
			<div class="form-group">
			   	<div class="col-sm-2 control-label">活动方案</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" id="plan" v-model="info.plan"/>
			    </div>
			</div>
			<div class="form-group">
			   	<div class="col-sm-2 control-label">附件名称</div>
			   	<div class="col-sm-10">
			     	  <input type="file" style="float: left;" id="file"  name="file"  multiple="" > 
			   	      <input type="button" class="btn btn-default" @click="upfile" value="上传">
			   	      <code v-show="tips" style="margin-top:4px;display: block;">文件已上传</code>
			          <input type="text" style="display: none" class="form-control" id="fileName" placeholder=""/>
			          <input type="text" style="display: none"  class="form-control" id="fileOldName" placeholder=""/>
			    </div>
			</div>
			<div class="form-group">
			   	<div class="col-sm-2 control-label">活动地点</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" id="address" v-model="info.address"/>
			    </div>
			</div>
			<div class="form-group">
			   	<div class="col-sm-2 control-label">活动时间</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" id="time" v-model="info.time"/>
			    </div>
			</div>
			<div class="form-group">
			   	<div class="col-sm-2 control-label">参加人员</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" id="person" v-model="info.person"/>
			    </div>
			</div>
			<div class="form-group">
			   	<div class="col-sm-2 control-label">发布科室</div>
			   	<div class="col-sm-10">
				     <select class="form-control" id="deptId">
				     	<option value="">请选择科室</option>
		            	<template v-for="item in deptList">
		              		<option v-if="info.deptId == item.deptId" selected="selected" :value="item.deptId">
		              			{{item.name}}
		              		</option>
		              		<option v-else :value="item.deptId">{{item.name}}</option>
		              </template>
					</select>
		      	</div>
			</div>
			<div class="form-group">
			   	<div class="col-sm-2 control-label">备注</div>
			   	<div class="col-sm-10">
			      <textarea type="text" class="form-control" id="remark" v-model="info.remark" cols="6"></textarea>
			    </div>
			</div>
			<div class="form-group">
				<div class="col-sm-2 control-label"></div> 
				<input type="button" class="btn btn-primary" @click="saveOrUpdate" value="确定"/>
				&nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
			</div>
		</form>
	</div>
</div>
<script src="${rc.contextPath}/js/web/cahgactivitynotice.js?_${date.systemTime}"></script>
</body>
</html>