<!DOCTYPE html>
<html>
<head>
<title></title>
#parse("sys/header.html")
<script src="${rc.contextPath}/statics/My97DatePicker/WdatePicker.js"></script>
</head>
<body>
<div id="rrapp" v-cloak>
	<div v-show="showList">
		<div class="grid-btn">
			#if($shiro.hasPermission("cahgwish:save"))
			<a class="btn btn-primary" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</a>
			#end
			#if($shiro.hasPermission("cahgwish:update"))
			<a class="btn btn-primary" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</a>
			#end
			#if($shiro.hasPermission("cahgwish:delete"))
			<a class="btn btn-primary" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
			#end
		</div>
	    <table id="jqGrid"></table>
	    <div id="jqGridPager"></div>
    </div>
    
    <div v-show="!showList" class="panel panel-default">
		<div class="panel-heading">{{title}}</div>
		<form class="form-horizontal">
											<div class="form-group">
			   	<div class="col-sm-2 control-label">问候语</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="cahgWish.wishCenter" placeholder="问候语"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">时间</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" id="wishDate" v-model="cahgWish.wishDate"  onclick="WdatePicker({lang:'zh-cn',dateFmt:'yyyy-MM-dd'})" placeholder="时间"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">状态</div>
			   	<div class="col-sm-10">
			  <!--     <input type="text" class="form-control" v-model="cahgWish.status" placeholder="0:开启1:关闭"/> -->
			       <label class="radio-inline">
					  <input type="radio" name="status" value="0" v-model="cahgWish.status"/> 开启
					</label>
					<label class="radio-inline">
					  <input type="radio" name="status" value="1" v-model="cahgWish.status"/> 关闭
					</label>
			    </div>
			</div>
							<div class="form-group">
				<div class="col-sm-2 control-label"></div> 
				<input type="button" class="btn btn-primary" @click="saveOrUpdate" value="确定"/>
				&nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
			</div>
		</form>
	</div>
</div>

<script src="${rc.contextPath}/js/web/cahgwish.js?_${date.systemTime}"></script>
</body>
</html>