<!DOCTYPE html>
<html>
<head>
<title></title>
#parse("sys/header.html")
</head>
<body>
<div id="rrapp" v-cloak>
	<div v-show="showList">
		<div class="grid-btn">
			#if($shiro.hasPermission("sysdept:save"))
			<a class="btn btn-primary" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</a>
			#end
			#if($shiro.hasPermission("sysdept:update"))
			<a class="btn btn-primary" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</a>
			#end
			#if($shiro.hasPermission("sysdept:delete"))
			<a class="btn btn-danger" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
			#end
		</div>
	    <table id="jqGrid"></table>
	    <div id="jqGridPager"></div>
    </div>
    
	<div v-show="!showList" class="panel panel-default">
		<div class="panel-heading">{{title}}</div>
		<form class="form-horizontal">
			<div class="form-group">
			   	<div class="col-sm-2 control-label"><font color="red">*</font>科室名称</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="sysDept.name" placeholder="科室名称"/> 
			    </div>
			</div>
			<div class="form-group">
				<div class="col-sm-2 control-label">上级科室</div>
				<div class="col-sm-10">
					<select id="deptId" v-model="sysDept.parentId" class="form-control">
						<option v-for="item in deptList" :value="item.deptId" id="selectedDept">{{item.name }}</option>
					</select>
				</div>
			</div>
			<div class="form-group">
			   	<div class="col-sm-2 control-label">排序号</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" id="dayRank" v-model="sysDept.sysRank" placeholder="排序号" onkeyup="(this.v=function(){this.value=this.value.replace(/[^0-9-]+/,'');}).call(this)" onblur="this.v();"/>
			    </div>
			</div>
			<div class="form-group">
			   	<div class="col-sm-2 control-label">备注</div>
			   	<div class="col-sm-10">
			       <textarea id="remark" v-model="sysDept.remark" rows="3" class="form-control" maxlength="255" required="" aria-required="true"></textarea>
			    </div>
			</div>
			<div class="form-group">
				<div class="col-sm-2 control-label"></div> 
				<input type="button" class="btn btn-primary" @click="saveOrUpdate" value="确定"/>
				&nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
			</div>
		</form>
	</div>
</div>
<script src="${rc.contextPath}/js/sys/sysdept.js?_${date.systemTime}"></script>
</body>
</html>